doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet' href='style.css')
		title 详情

	body
		h1 用户详情
		div.container
			div.position
				div.detail
					p 用户名: 
						sapn #{username}

					p 学号: 
						span #{sid}

					p 电话: 
						span #{phone}

					p 邮箱: 
						span #{email}